{% extends 'home.html' %}

{% block head %}
<title>consumer</title>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/consumer.css' %}">
<script src="{% static 'js/consumer.js' %}"></script>

{% endblock %}

{% block body %}

<br>
<div class="row">
	<span class="input">Consumer</span>
</div>
<br>
<br>
<br>

<button id="New" class="input btn btn-primary">
	<i class="fa fa-magic">&nbsp; New</i>
</button>
<br>
<br>
<button id="view" class="input btn btn-primary">
	<i class="fa fa-eye">&nbsp; View</i>
</button>

<div id="view_cons">
	<table class="table">
		<thead>
			<tr>
				<th>sl no</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>

			{% if consmr_obj.count == 0 %}
			<tr>
				<td colspan="5">
					<div class="alert alert-info">You don't have any consumer</div>
				</td>
			</tr>
			{% endif %}

			{% for consumer in consmr_obj %}
			<tr>
				<td> {{ forloop.counter }} </td>
				<td> {{ consumer.fistname }} </td>
				<td> {{ consumer.lastname }} </td>
				<td> {{ consumer.email }} </td>
				<td>
					<div class="btn-group">
						<button class="btn btn-outline-primary" data-toggle="dropdown">
							<i class="fa fa-caret-down"></i>
							menu
						</button>
						<div class="dropdown-menu">

							<a class="dropdown-item" href="http://127.0.0.1:8000/trackapp/editconsumer?id={{consumer.id}}"><i
									class="fa fa-magic"></i>&nbsp;Edit consumer</a>
							<button class="dropdown-item" onclick="fn_delete_consumer('{{ consumer.id }}')">
								<i class="fa fa-trash"></i>&nbsp;Delete consumer
							</button>
							<a class="dropdown-item"
								href="http://127.0.0.1:8000/trackapp/viewconsumer?id={{consumer.id}}">
								<i class="fa fa-eye"></i>&nbsp;View consumer</a>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

<table id="table" cellpadding="7px">
	<th>CONSUMER
		<hr>
	</th>
	<tr>
		<td>
			Firstname
			<br>
			<input id="fn" class="form-control" type="text">
		</td>
		<td>
			Lastname
			<br>
			<input id="ln" class="form-control" type="text">
		</td>

		<td>
			Email
			<br>
			<input id="em" class="form-control" name="email" type="email">
		</td>
	</tr>

	<tr>
		<td>
			Phone
			<br>
			<input class="form-control" name="phone" type="text" id="ph">
		</td>

		<td>
			Address
			<br>
			<input class="form-control" name="location" type="text" id="ad">
		</td>

		<td>
			Gender
			<br>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" value="Male" name="gender">
					<span id="g1">Male</span>
				</label>
			</div>

			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" value="Female" name="gender">
					<span id="g2">Female</span>
				</label>
			</div>
		</td>
	</tr>

	<tr>
		<td>
			<button id="btn" onclick="fn_save_consumer();">
				<i class="fa fa-save"></i>
				Save Consumer
			</button>
		</td>
	</tr>
</table>


{% endblock %}