{% extends 'home.html' %}

{% block head %}
<title>employee</title>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/employee.css' %}">
<script src="{% static 'js/employee.js' %}"></script>

{% endblock %}

{% block body %}

<div class="container">

<br>

<span class="input" id="Employee">Employee</span>

<br><br><br>

<button id="New" class="btn btn-primary input"><i class="fa fa-magic"></i>&nbsp;New</button>

<br><br><br><br>

<button id="View" class="btn btn-primary input"><i class="fa fa-eye"></i>&nbsp;View</button>

	<div id="view_emp" class="row">
		<table class="table">
			<thead>
				<tr>
					<th>SL NO.</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Username</th>
					<th>Email</th>

				</tr>
			</thead>
			<tbody>
				
				{% if userdetail.count == 0 %}
				<tr>
					<td colspan="5">
						<div class="alert alert-info">You don't have any employee</div>
					</td>
				</tr>
				{% endif %}

				{% for user in userdetail %}
				<tr>
					<td> {{ user.id }} </td>
					<td> {{ user.firstname }} </td>
					<td> {{ user.lastname }} </td>
					<td> {{ user.fk_login_id.username }} </td>
					<td> {{ user.email }}</td>
					<td>
						<div class="btn-group">
							<button class="btn btn-outline-primary" data-toggle="dropdown">
								<i class="fa fa-caret-down"></i>
								menu
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="http://127.0.0.1:8000/trackapp/editemployee?id={{user.id}}"><i class="fa fa-edit"> Edit</i></a>
								<a class="dropdown-item" href="#"><i class="fa fa-user-times"> Delete</i></a>
								<a class="dropdown-item" href="#"><i class="fa fa-binoculars"> View</i></a>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<table id="table" cellpadding="7px">
		<th> EMPLOYEE
			<hr>
		</th>

		<tr>
			<td><span style="color:red;"></span><br><input class="form-control" type="text" placeholder="FirstName"
					id="fn"></td>
			<td><span style="color:red;"></span><br><input class="form-control" type="text" placeholder="LastName"
				id="ln"></td>
				
			<td><span style="color:red;"></span><br><input class="form-control" type="text" placeholder="Username"
					id="un"></td>
			<td><span style="color:red;"></span><br><input class="form-control" type="password" placeholder="Password"
					id="pw"></td>
		</tr>

		<tr>
			<td><span style="color:red;"></span><br><input class="form-control" type="text" placeholder="E-mail"
					id="em"></td>
			<td><span style="color:red;"></span><br><input class="form-control" type="text" placeholder="Phone" id="ph">
			</td>
			<td>
				<span style="color:red;"></span><br><input class="form-control" type="date" placeholder="DOB" id="dd">
			</td>
		</tr>
		<tr>
			<td><br><input class="form-control" type="text" placeholder="Location" id="loc"></td>
			<td>
				Gender
				<br>
				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" value="male" name="gender">
						<span id="g1">male</span>
					</label>
				</div>

				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" name="gender" value="female">
						<span id="g2">female</span>
					</label>
				</div>
			</td>
			<td>
				Role
				<span style="color:red;"></span>&nbsp;&nbsp;&nbsp;
				<br>
				<select id="role" class="form-control">
					<option></option>
					{% for role in roles %}
					<option value="{{role.id}}">{{ role.role_title }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>

		<tr>


			<td><button id="btn" onclick="fn_save_employee();"><i class="fa fa-save"></i>Save Employee</button></td>
	</table>
</div>
{% endblock %}