{% extends 'home.html' %}

{% block head %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/enquires.css' %}">
<script src="{% static 'js/enquires.js' %}"></script>
<title>enquires</title>

{% endblock %}

{% block body %}

<div class="container">
	<br>
	<span class="input" id="Enquiry">
		Enquiry
	</span>
	<br><br><br>

	<button id="New" class="btn btn-primary input">
		<i class="fa fa-magic">&nbsp; New</i>
	</button>

	<br><br><br><br>

	<button id="view" class="btn btn-primary input">
		<i class="fa fa-eye">&nbsp; View</i>
	</button>

	<br><br><br><br>

	<button id="Queue" class="btn btn-primary input">
		<i class="fa fa-folder-open">&nbsp; My Queue</i>
	</button>

	<div id="view_enq" class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Sl.No</th>
					<th>lead title</th>
					<th>product</th>
					<th>lead stage</th>
					<th>lead source</th>
				</tr>
			</thead>
			<tbody>

				{% if leads.count == 0 %}
				<tr>
					<td colspan="5">
						<div class="alert alert-info">You don't have any enquires</div>
					</td>
				</tr>
				{% endif %}

				{% for lead in leads %}
				<tr>
					<td> {{ lead.id }} </td>
					<td> {{ lead.fk_lead_id.lead_title }} </td>
					<td> {{ lead.fk_product_id.product_name }} </td>
					<td> {{ lead.lead_stage }} </td>
					<td> {{ lead.fk_lead_source.source_title }} </td>
					<td>
						<div class="btn-group">
							<button class="btn btn-outline-primary" data-toggle="dropdown">
								<i class="fa fa-caret-down"></i>
								menu
							</button>
							<div class="dropdown-menu">

								<a class="dropdown-item"
									href="http://127.0.0.1:8000/trackapp/editenquiry?id={{lead.fk_lead_id.id}}"><i
										class="fa fa-magic"></i>&nbsp;Edit</a>
								<button class="dropdown-item" onclick="fn_delete_enquiry('{{ lead.fk_lead_id.id }}')">
									<i class="fa fa-trash"></i>&nbsp;Delete
								</button>
								<a class="dropdown-item"
									href="http://127.0.0.1:8000/trackapp/followup?id={{lead.fk_lead_id.id}}"><i
										class="fa fa-comments"></i>&nbsp;Followup</a>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


	<table id="table" cellpadding="4px">
		<th>CONSUMER
			<hr>
		</th>
		<tr>
			<td>Consumer<span style="color:red;">(*Mandatory)</span>&nbsp;&nbsp;&nbsp;<br>
				<select class="form-control" id="consumer">
					<option value="" selected>Please select a consumer</option>
					{% for consumer in consumer_obj %}
					<option value="{{consumer.id}}"> {{ consumer.fistname }} {{ consumer.lastname }} </option>
					{% endfor %}
				</select>
			<td>Email<br><input class="form-control" type="text" id="email"></td>
			<td>Phone<br><input class="form-control" type="text" id="phone"></td>
		</tr>

		<th>LEAD DETAILS
			<hr>
		</th>
		<tr>
			<td>
				<select class="form-control" id="lead_stage">
					<option value="" selected>Lead Stage</option>
					<option value="Open">Open</option>
					<option value="Close">Close</option>
					<option value="Won">Won</option>
				</select>
			</td>
			<td>
				<select class="form-control" id="lead_source">
					<option value="" selected>Lead Source</option>
					{% for source in lead_sources %}
					<option value="{{ source.id }}">{{ source.source_title }}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<span data-toggle="modal" data-target="#addLeadSource" class="small"
					style="color: rgb(131, 131, 255); cursor: pointer;">
					<i class="fa fa-plus"></i>
					Add new
				</span>
			</td>
		</tr>

		<th>GENERAL
			<hr>
		</th>
		<tr>
			<td>
				<select id="product" class="form-control">
					<option selected value="">Select your product</option>
					{% for product in pro_obj %}
					<option value="{{product.id}}"> {{ product.product_name }} </option>
					{% endfor %}
				</select>

			<td>
				<select class="form-control" id="assigned">
					<option selected value="">Assigned to</option>
					{% for emp in emp_obj %}
					<option value="{{emp.id}}"> {{ emp.username }} </option>
					{% endfor %}
				</select>
			</td>
		</tr>

		<tr>
			<td>Description<span style="color:red;">(*Mandatory)</span><br>
				<textarea class="form-control" id="des"></textarea></td>
		</tr>
 
		<tr>
			<td>
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" name="sendsms">
						Send sms
					</label>
				</div>
			</td>

			<td>
				<button id="btn" onclick="fn_save_enquiery();">
					<i class="fa fa-save"></i>
					&nbsp;Save Enquiry
				</button>
			</td>
		</tr>
	</table>


</div>

<!-- The Modal -->
<div class="modal fade" id="addLeadSource">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add new lead source</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<input class="form-control" type="text" id="source_title" placeholder="Lead source">
				<textarea class="form-control mt-2" id="source_desc" placeholder="Description"></textarea>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button class="btn btn-success" onclick="fn_save_lead_source()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>

{% endblock %}
