{% extends 'home.html' %}

{% block head %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/enquires.css' %}">
<script src="{% static 'js/enquires.js' %}"></script>
<title>enquires</title>

{% endblock %}

{% block body %}

<div class="container">

	<br>
	<span class="input" id="Enquiry">
		Enquiry
	</span>
	<br><br><br>

	<button id="New" class="btn btn-primary input">
		<i class="fa fa-magic">&nbsp; New</i>
	</button>

	<br><br><br><br>

	<button id="view" class="btn btn-primary input">
		<i class="fa fa-eye">&nbsp; View</i>
	</button>

	<br><br><br><br>

	<button id="Queue" class="btn btn-primary input">
		<i class="fa fa-folder-open">&nbsp; My Queue</i>
	</button>

	<div id="view_enq" class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>


	<table id="table" cellpadding="4px">
		<th>CONSUMER
			<hr>
		</th>
		<tr>
			<td>Consumer<span style="color:red;">(*Mandatory)</span>&nbsp;&nbsp;&nbsp;<br>
				<select class="form-control" id="consumer">
					<option value="" selected>Please select a consumer</option>
					{% for consumer in consumer_obj %}
					<option value="{{consumer.id}}"> {{ consumer.fistname }} {{ consumer.lastname }} </option>
					{% endfor %}
				</select>
			<td>Email<br><input class="form-control" type="text" id="email"></td>
			<td>Phone<br><input class="form-control" type="text" id="phone"></td>
		</tr>

		<th>LEAD DETAILS
			<hr>
		</th>
		<tr>
			<td>
				<select class="form-control" id="lead_stage">
					<option value="" selected>Lead Stage</option>
					<option value="o">Open</option>
					<option value="c">Close</option>
					<option value="w">Won</option>
				</select>
			</td>
			<td>
				<select class="form-control" id="lead_source">
					<option value="" selected>Lead Source</option>
					<option value="g">Website</option>
					<option value="m">Facebook</option>
					<option value="f">Reference</option>
				</select>
			</td>
		</tr>

		<th>GENERAL
			<hr>
		</th>
		<tr>
			<td>
				<select id="product" class="form-control">
					<option selected value="">Select your product</option>
					{% for product in pro_obj %}
					<option value="{{product.id}}"> {{ product.product_name }} </option>
					{% endfor %}
				</select>

			<td>
				<select class="form-control" id="assigned">
					<option selected value="">Assigned to</option>
					{% for emp in emp_obj %}
					<option value="{{emp.id}}"> {{ emp.username }} </option>
					{% endfor %}
				</select>
			</td>
		</tr>

		<tr>
			<td>Description<span style="color:red;">(*Mandatory)</span><br>
				<textarea class="form-control" id="des"></textarea></td>
		</tr>

		<tr>
			<td>
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" name="sendsms">
						Send sms
					</label>
				</div>
			</td>

			<td>
				<button id="btn" onclick="fn_save_enquiery();">
					<i class="fa fa-save"></i>
					&nbsp;Save Enquiry
				</button>
			</td>
		</tr>
	</table>


</div>

{% endblock %}