{% extends 'home.html' %}

{% block head %}
<title>reports</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}

<div class="container">

  <div class="row mt-3">
    <h3>
      reports
    </h3>
  </div>

  <div class="row mt-2">
    <div class="card col-lg-12 col-md-12">
      <div class="card-body">

        <form action="" method="POST">
          <div class="row">

            <select name="report" class="form-control col-lg-3 ml-lg-1">
              <option value="e">Enquiry</option>
              <option value="s">Lead source</option>
            </select>

            <input name="from" type="date" id="fdatePickerId" class="form-control col-lg-3 ml-lg-1">
            <input name="to" id="tdatePickerId" type="date" class="form-control col-lg-3 ml-lg-1">
            <script>
              fdatePickerId.max = new Date().toISOString().split("T")[0];
              tdatePickerId.max = new Date().toISOString().split("T")[0];
            </script>

            {% csrf_token %}

            <button type="submit" class="form-control btn btn-primary col-lg-2 ml-lg-5">
              Get report
            </button>

          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="card col-md-12 col-lg-12">
      <div style="overflow: inherit;" id="piechart"></div>
    </div>
  </div>

  <script type="text/javascript">
    google.charts.load('current', {
      'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      const data = google.visualization.arrayToDataTable([
        ['report name', 'Number'],
        {% for report in reports %}
          ['{{report.pro_name}}', {{report.pro_count}}],
        {% endfor %}
      ]);

      const options = {
        'title': 'Reports',
        'width': '100%',
        'height': 450
      };

      const chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
  </script>
  <br>
</div>

{% endblock %}