{% extends 'home.html' %}

{% block head %}
<title>consumer</title>

{% load staticfiles %}

<script src="{% static 'js/consumer.js' %}"></script>

{% endblock %}

{% block body %}
<div class="container">

	<div class="row mt-3">
		<h3>View Consumer</h3>
    </div>
    <div id="view_cons">
        <table class="table">
            <thead>
                <tr>
                    <th>SL.No</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
    
                {% if consmr_obj.count == 0 %}
                <tr>
                    <td colspan="5">
                        <div class="alert alert-info">You don't have any consumer</div>
                    </td>
                </tr>
                {% endif %}
    
                {% for consumer in consmr_obj %}
                <tr>
                    <td> {{ consumer.id }} </td>
                    <td> {{ consumer.fistname }} </td>
                    <td> {{ consumer.lastname }} </td>
                    <td> {{ consumer.email }} </td>
                </tr>
                {% endfor %}
    
            </tbody>
        </table>
    </div>
</div>
{% endblock %}