{% extends 'home.html' %}

{% block head %}
<title>employee</title>
{% endblock %}

{% block body %}
<div class="container">


    <div class="row mt-3">

        <div class="card col-lg-12 col-md-12">
            <div class="card-body">
                <h4><u>Employee details</u></h4>
                <div class="row mt-3">
                    <div class="form-group col-lg-4">
                        <label>Firstname</label>
                        <input type="text" value="{{ emp_obj.firstname }}" readonly class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Lastname</label>
                        <input type="text" value="{{ emp_obj.lastname }}" readonly class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Email</label>
                        <input type="text" value="{{ emp_obj.email }}" readonly class="form-control">
                    </div>

                </div>

                <hr style="width: 70%;">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-2">
                                        <span style="color: rgb(155, 155, 155);">
                                            Created by
                                        </span>
                                        <div>
                                            <i class="fa fa-address-card"></i>
                                            <span style="color: green; font-weight: bold;">
                                                {{ emp_obj.fk_login_id.username }}
                                            </span>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-lg-12 mt-3">
                                    <div class="col-lg-4">
                                        <i class="fa fa-phone mr-1"></i>
                                        {{ emp_obj.mobile }}
                                    </div>
                                    <div class="col-lg-4">
                                        <i class="fa fa-map-marker mr-1"></i>
                                        {{ emp_obj.address }}
                                    </div>
                                    <div class="col-lg-4">
                                        <i class="fa fa-users mr-1"></i>
                                        {{ emp_obj.gender }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row mt-3 mb-1">
        <div class="card col-md-12 col-lg-12">
            <div class="card-body">
                <h4><u>Employee created enquires</u></h4>

                <div class="row mt-2">

                    {% if leads.count == 0 %}
                    <div class="alert alert-info col-lg-12 col-md-12 mt-2">
                        No enquires found on <span class="badge badge-light">{{ emp_obj.firstname }}
                            {{ emp_obj.lastname }}</span>
                    </div>
                    {% endif %}

                    {% for lead in leads %}
                    <div class="col-lg-12 col-md-12 mt-1">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-2">
                                        {{ lead.fk_lead_id.lead_title }}
                                    </div>
                                    <div class="col-md-1 btn-sm btn btn-info small ml-md-auto">
                                        <a href="http://127.0.0.1:8000/trackapp/editemployee?id={{user_id}}"
                                            style="color: inherit;">
                                            <i class="fa fa-edit"></i> edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span style="color: rgb(155, 155, 155);">
                                            Created by
                                        </span>
                                        <div>
                                            <i class="fa fa-address-card"></i>
                                            <span style="color: green; font-weight: bold;">
                                                {{ lead.fk_lead_id.fk_created_user_id.username }}
                                            </span>
                                            <div style="font-size: 10px;">at {{ lead.fk_lead_id.created_time }} on
                                                {{ lead.fk_lead_id.created_date }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 ml-md-auto">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-6">
                                                        <div>
                                                            <span class="small badge">
                                                                Lead stage:
                                                            </span>
                                                            {{ lead.lead_stage }}
                                                        </div>
                                                        <div>
                                                            <span class="small badge">
                                                                Lead source:
                                                            </span>
                                                            {{ lead.fk_lead_source.source_title }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}